<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABGTTBPpT0AX2cIizCaFx0UcFFRhyLldg</string>
	<key>GCM_SENDER_ID</key>
	<string>250297510378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sehwa.squash.app</string>
	<key>PROJECT_ID</key>
	<string>shsquash-33abe</string>
	<key>STORAGE_BUCKET</key>
	<string>shsquash-33abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250297510378:ios:00385ca6c14f61bbf7aa93</string>
</dict>
</plist>